.btn-container {
  width: 30%;
  margin: 5px 0;
}
.btn-left {
  font-size: 24px;
  padding-right: 13px;
  cursor: pointer;
  color: grey;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-mid {
  @@ -24,5 +30,11 @@
    font-size: 24px;
  padding-left: 13px;
  cursor: pointer;
  color: grey;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
