.separator {
  opacity: 0.4;
  margin: 0;
}

.columns {
  display: flex;
  padding: 12px 10px;
  color: grey;
}

.col1 {
  width: 60%;
  text-align: left;
  padding: 0 20px 0 0;
}

.col2 {
  width: 30%;
  /* padding: 0px 20px; */
}

.col3 {
  width: 10%;
  padding: 0px 20px;
}

@media (max-width: 500px) {
  .col1 {
    width: 50%;
    padding: 0 10px 0 0;
  }
}

@media (max-width: 460px) {
  .over-handler {
    min-width: 500px;
  }
}

.item-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.price-elem {
  width: 10%;
  margin: 0px 20px;
  padding: 2% 0;
}

.reload {
  padding: 30px;
  font-size: 30px;
}

.reload-span {
  cursor: pointer;
  color: grey;
}
